p{
    color: rgb(144, 236, 186);
    font-size: 29px;
}
div{
    border: 3px solid yellow;
    background-color: blanchedalmond;
    margin: 5px;
}
h3{
    color: blue;
}
img{
    height: 400px;
    width: 400px;
}